{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Attach to QEMU",
      "type": "gdb",
      "request": "attach",
      "executable": "kernel",
      "target": "localhost:1234",
      "remote": true,
      "cwd": "${workspaceRoot}",
      "debugger_args": [
        "-nx", // don't auto-load .gdbinit
      ],
      "stopAtConnect": true,
      "autorun": [
        "set substitute-path /root .",
        "source .gdbinit.vscode",
        "echo Continue with 'c' or 'continue'",
      ],
    }
  ]
}
